@model Magisterka.Models.Baza

@{
    ViewData["Title"] = "Usuwanie";
}
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/site.css" />
    <title>Usuwanie Rekordów</title>
</head>
<body>

    <h3>Czy jesteś pewien, że chesz usunąć?</h3>
    <div>
        <h4>Pomiar "@Html.DisplayFor(model => model.Nazwa)" z dnia @Html.DisplayFor(model => model.DATA)</h4>
        <hr />
        <dl class="dl-horizontal">
            @foreach (ZmiennaItem item in Model.Zmienne)
            {
                string x = Model.GetType().GetProperty(item.Zmienna).GetValue(Model).ToString();
                if (x !="")
                {
                    <dt>
                        @item.OpisZmiennej
                    </dt>
                    <dd>
                        @Model.GetType().GetProperty(item.Zmienna).GetValue(Model)
                    </dd>
                }

            }
        </dl>
        @*
        <dt>
            <span title="Łączna długość wymiennika ciepła">[L] Łączna długość wymiennika ciepła</span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BL)
        </dd>
        *@
    </div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-default" /> | <a asp-action="Index">Powrót do listy</a>
    </form>
</body>
</html>
