@model Magisterka.Models.Baza

@{
    ViewData["Title"] = "Szczegóły";
}
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/site.css" />
    <title>Szczegóły</title>
</head>
<body>
    <div>
        <h4>Pomiar "@Html.DisplayFor(model => model.Nazwa)" z dnia @Html.DisplayFor(model => model.DATA)</h4>
        <hr />

    
            @*    TO JEST PENTLA CO MOŻE ZASTĄPIĆ TO WSZYSTKO NA DOLE troche skladnia mi nie pasuje ZMIENIC PO SNIADANIU
            <dl class="dl-horizontal">
                @foreach (ZmiennaItem item in Model.Zmienne)
                {
                    string x = Model.GetType().GetProperty(item.Zmienna).GetValue(Model).ToString();
                    if (x != "")
                    {
                        if (item.Zmienna == "RQg")
                        {
                            <h2> Obliczenia wg Rubika</h2>
                        }
                        if (item.Zmienna == "KQc")
                        {
                            <h2> Obliczenia wg Kopcia</h2>
                        }
                        <dt>
                            @item.OpisZmiennej
                        </dt>
                        <dd>
                            @Model.GetType().GetProperty(item.Zmienna).GetValue(Model)
                        </dd>
                    }
                }
            </dl>*@

            <div class="row">
                <div class="col-md-5">
                    <h2> Obliczenia wg Rubika</h2>
                    <dl class="dl-horizontal">
                        @*
                        @Html.DisplayNameFor(model => model.RQg)
                        *@
                        <dt>
                            <span title="Moc grzewcza pompy ciepła">[Qg] Moc grzewcza pompy ciepła</span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.RQg)
                        </dd>
                        <dt>
                            <span title="Znamionowy współczynnik wydajnosci">[φ] Znamionowy współczynnik wydajnosci</span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.RFi)
                        </dd>
                        <dt>
                            <span title="Moc cieplna pobierana z gruntu">[Q0] Moc cieplna pobierana z gruntu</span>
                            @Html.DisplayNameFor(model => model.RQ0)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.RQ0)
                        </dd>
                        @*
                        <dt>
                            @Html.DisplayNameFor(model => model.RXo)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.RXo)
                        </dd>
                        *@
                        <dt>
                            <span title="Średnica zewnętrzna rury">[DZ] Średnica zewnętrzna rury</span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.RDz)
                        </dd>
                        <dt>
                            <span title="Temperatura gruntu na glebokosci">[t∞] Temperatura gruntu na glebokosci x</span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Rtinf)
                        </dd>
                        <dt>
                            <span title="Temperatura nośnika ciepła odpływająca z wymiennika gruntowego">[t] Temperatura nośnika ciepła odpływająca z wymiennika gruntowego</span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Rt)
                        </dd>
                        <dt>
                            <span title="Długość rur">[L] Długość rury wymiennika ciepła</span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.RL)
                        </dd>
                    </dl>
                </div>
                <div class="col-md-5">
                    <h2> Obliczenia wg Kopcia</h2>
                    <dl class="dl-horizontal">
                        <dt>
                            <span title="Zapotrzebowanie na moc cieplną pompy ciepła">[Qc] Zapotrzebowanie na moc cieplną pompy ciepła</span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.KQc)
                        </dd>
                        <dt>
                            <span title="Współczynnik efektywności pompy">[COP] Współczynnik efektywności pompy </span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.KCOP)
                        </dd>
                        <dt>
                            <span title="Moc cieplna">[Q0] Moc cieplna</span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.KQ0)
                        </dd>
                        <dt>
                            <span title="Głębokość osadzenia wymiennika">[H] Głębokość osadzenia wymiennika</span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.KH)
                        </dd>
                        <dt>
                            <span title="Głębokość stałej temperatury gruntu">[Z] Głębokość stałej temperatury gruntu</span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.KZ)
                        </dd>
                        <dt>
                            <span title="Współczynnik B">Współczynnik B</span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.KB)
                        </dd>
                        <dt>
                            <span title="Temperatura gruntu - stała">[Tgr] Temperatura gruntu - stała</span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.KTgr)
                        </dd>
                        <dt>
                            <span title="Temperatura płynu">[Tgm] Temperatura płynu </span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.KTgm)
                        </dd>
                        <dt>
                            <span title="Temperatura powietrza przy gruncie">[Tp] Temperatura powietrza przy gruncie</span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Ktp)
                        </dd>
                        <dt>
                            <span title="Różnica temperatur">[ΔT] Różnica temperatur</span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DT)
                        </dd>
                        <dt>
                            <span title="Współczynnik przejmowania ciepła od strony glikolu">[αg] Współczynnik przejmowania ciepła od strony glikolu</span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Kalfag)
                        </dd>
                        <dt>
                            <span title="Współczynnik przejmowania ciepła od strony powietrza">[αp] Współczynnik przejmowania ciepła od strony powietrza</span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Kalfap)
                        </dd>
                        <dt>
                            <span title="Współczynnik przejmowania ciepła gruntu">[λgr] Współczynnik przejmowania ciepła gruntu</span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.KAgr)
                        </dd>
                        <dt>
                            <span title="Współczynnik przejmowania ciepła rury">[λr] Współczynnik przejmowania ciepła rury</span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.KAr)
                        </dd>
                        <dt>
                            <span title="Średnica wewnętrzna rury">[dw] Średnica wewnętrzna rury </span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Kdw)
                        </dd>
                        <dt>
                            <span title="Średnica zewnetrzna rury">[dz] Średnica zewnetrzna rury </span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Kdz)
                        </dd>
                        <dt>
                            <span title="Współczynnik K">Współczynnik K</span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.KK)
                        </dd>
                        <dt>
                            <span title="Współczynnik C">Współczynnik C</span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.KC)
                        </dd>
                        <dt>
                            <span title="Współczynnik przewodzenia gruntu">[λgr] Współczynnik przewodzenia gruntu </span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Agr)
                        </dd>
                        <dt>
                            <span title="Jednostkowy strumień ciepła">[qL] Jednostkowy strumień ciepła</span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.KqL)
                        </dd>
                        <dt>
                            <span title="Rozstawienie rur">[ep] Rozstawienie rur</span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Kep)
                        </dd>
                        <dt>
                            <span title="Jednostkowa wydajność cieplna">[qh] Jednostkowa wydajność cieplna </span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Kqh)
                        </dd>
                        <dt>
                            <span title="Łączna długość wymiennika ciepła">[Lp] Łączna długość wymiennika ciepła</span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.KLp)
                        </dd>
                    </dl>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-5">
                    <h2> Obliczenia Długosci sondy pionowej</h2>
                    <dl class="dl-horizontal">
                        <dt>
                            <span title="Moc cieplna pompy ciepła">[Qc]Moc cieplna pompy ciepła</span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.SQc)
                        </dd>
                        <dt>
                            <span title="Współczynnik sprawności pompy ciepła">[COP] Współczynnik sprawności pompy ciepła</span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.SCOP)
                        </dd>
                        <dt>
                            <span title="Moc chłodnicza pompy ciepła">[Q0] Moc chłodnicza pompy ciepła </span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.SQ0)
                        </dd>
                        <dt>
                            <span title="Jednostkowa wydajnosć gruntu">[qv] Jednostkowa wydajnosć gruntu</span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.SQv)
                        </dd>
                        <dt>
                            <span title="Wymagana długość sondy">[Lo] Wymagana długość sondy </span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.SLo)
                        </dd>
                        <dt>
                            <span title="Czas pracy w ciągu całego roku (podany w H)">[Tsp] Czas pracy w ciągu całego roku</span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.STsp)
                        </dd>
                        <dt>
                            <span title="Dodatkowa procentowa długość sondy">[Δlw]Dodatkowa procentowa długość sondy </span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.SdLw)
                        </dd>
                        <dt>
                            <span title="Łączna długość wymiennika ciepła">[Lw] Łączna długość wymiennika ciepła</span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.SLw)
                        </dd>
                    </dl>
                </div>
                <div class="col-md-5">
                    <h2> Algorytm Bose-Parkera</h2>
                    <dl class="dl-horizontal">
                        <dt>
                            <span title="Średnica zewnetrzna rury">[dz] Średnica zewnetrzna rury </span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.BDz)
                        </dd>
                        <dt>
                            <span title="Średnica wewnętrzna rury">[dw] Średnica wewnętrzna rury </span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.BDw)
                        </dd>
                        <dt>
                            <span title="Liczba rur w obwodzie">[n] Liczba rur w obwodzie </span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Bn)
                        </dd>
                        <dt>
                            <span title="Współczynnik prewodzenia materiału rury">[λr] Współczynnik prewodzenia materiału rury </span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Blambdar)
                        </dd>
                        <dt>
                            <span title="Zredukowany opór jednostkowy gruntu">[Rr] Zredukowany opór jednostkowy gruntu </span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.BRr)
                        </dd>
                        <dt>
                            <span title="Czas pracy pompy cieplnej ">[tp] Czas pracy pompy cieplnej</span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Btp)
                        </dd>
                        <dt>
                            <span title="Czas działania instalacji">[tg] Czas działania instalacji  </span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Btg)
                        </dd>
                        <dt>
                            <span title="Moc grzejna pompy ciepła">[Q] Moc grzejna pompy ciepła </span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.BQ)
                        </dd>
                        <dt>
                            <span title="Współczynnik sprawności pompy ciepła">[COP] Współczynnik sprawności pompy ciepła</span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.BCOP)
                        </dd>
                        <dt>
                            <span title="Temperatura gruntu">[Tgr] Temperatura gruntu </span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.BTgr)
                        </dd>
                        <dt>
                            <span title="Temperatura płynu opuszczajacego parowacz">[Tgo] Temperatura płynu opuszczajacego parowacz </span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.BTgo)
                        </dd>
                        <dt>
                            <span title="Łączna długość wymiennika ciepła">[L] Łączna długość wymiennika ciepła</span>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.BL)
                        </dd>
                    </dl>

                </div>
            </div>
            <hr />
            <div>
                <a asp-action="Edit" asp-route-id="@Model.Id">Edytuj</a> |
                <a asp-action="Index">Powrót do listy</a>
            </div>
        </div>
</body>
</html>
