@model IEnumerable<Magisterka.Models.Baza>
@{
    ViewData["Title"] = "Baza";
}

@{
    Layout = "_Layout";
}

@*
    "MagisterkaContext": "Server=(localdb)\\mssqllocaldb;Database=MagisterkaContext-a5f5efaa-a4ec-43b4-a29b-7f6673c7a3bd;Trusted_Connection=True;MultipleActiveResultSets=true",
*@
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/site.css" />
    <title>Podgląd Bazy</title>
</head>
<body>
    <b>
        <table class="table">
            <thead>
                <tr>
                    <th>

                        @Html.DisplayNameFor(model => model.DATA)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nazwa)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Opis)
                    </th>
                    <th>
                        OPCJE
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DATA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nazwa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Opis)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a asp-action="Create"><b>Dodaj nowe rekordy</b></a>

</body>
</html>
