@{
    ViewData["Title"] = "Baza";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<h3>@ViewData["Message"]</h3>

<p>Tu bedzie tylko podgląd bazy danych.</p>
<hr />
<div class="row">
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th>Wartość1</th>
            <th>Wartość1</th>
            <th>Wartość1</th>
            <th>Wartość1</th>
            <th>Wartość1</th>
            <th>Wartość1</th>
            <th>Wartość1</th>
            <th>Wartość1</th>
            <th>Wartość1</th>
            <th>Wartość1</th>
            <th>Wartość1</th>
            <th>Wartość1</th>
            <th>Wartość1</th>
            <th>Wartość1</th>
            <th>Wartość1</th>
            <th>Wartość1</th>
        </tr>
    </table>
</div>
@*
    @foreach (Grid gridView in Model)
    {
        <tr>
            <td>@gridView.Wartosc1</td>
            <td>@gridView.Wartosc1</td>
            <td>@gridView.Wartosc1</td>
            <td>@gridView.Wartosc1</td>
        </tr>
    }
*@

