@model Magisterka.Models.Obl
@*TYLKO 1 MODEL NA DOKUMENT ;/*@
@{
    ViewData["Title"] = "PoziomyRubik";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
@using (Html.BeginForm("PoziomyRubik", "Home", FormMethod.Post))
{

    <h3>Obliczenia długości poziomego wymiennika ciepła wg. Rubika</h3>
    <div>

        <div class="row">
            <div class="col-md-4">
                <div id="ob8" class="@Model.BOX1">
                    <h3>&nbsp Moc cieplna [Q0]</h3>
                    <br>
                    Moc grzewcza pompy ciepła w kW [Qg]
                    <input type="text" class="form-control" id="RQg" name="RQg" value="@Model.RQg" />
                    <br><br />
                    Znamionowy współczynnik wydajnosci [φ]
                    <br>
                    <input type="Text" class="form-control" id="RFi" name="RFi" value="@Model.RFi" />
                    <br><br />
                    &nbsp
                    <button id="btn8" type="submit" value="btn8" name="Oblicz">Oblicz</button>
                    <input type="Text" id="RQ0a" name="RQ0a" value="@Model.RQ0" />
                </div>
                <br />
            </div>

            <div class="col-md-4">
                <div id="ob9" class="@Model.BOX2">
                    <h3>&nbsp Długość rur[L]</h3>

                    Moc cieplna pobierana z gruntu [Q0]
                    <br>
                    <input type="Text" class="form-control" id="RQ0" name="RQ0" value="@Model.RQ0" />
                    <br />
                    Głębokośc ułożenia rury:
                    <br>
                    <select asp-for="Selector1" asp-items="Model.Glebokosc"></select> m
                    <br /><br />
                    Średnica zewnętrzna rury [DZ]
                    <br>
                    <input type="Text" class="form-control" id="RDz" name="RDz" value="@Model.RDz" />
                    <br />
                    Temperatura gruntu na glebokosci x [t∞]
                    <br>
                    <input type="Text" class="form-control" id="Rtinf" name="Rtinf" value="@Model.Rtinf" />
                    <br />
                    Temperatura nośnika ciepła odpływająca z wymiennika gruntowego [t]
                    <br>
                    <input type="Text" class="form-control" id="Rt" name="Rt" value="@Model.Rt" />
                    <br />
                    Rodzaj gruntu:
                    <br>
                    <select asp-for="Selector2" asp-items="Model.Gleba"></select>
                    <br><br />
                    &nbsp
                    <button id="btn9" type="submit" value="btn9" name="Oblicz">Oblicz L</button>
                    <input type="Text" id="RL" name="RL" value="@Model.RL" />
                </div>
            </div>

        </div>
        <hr />
        <div class="row">
            <div class="form-group">
                <center>
                    <button id="zapisz1" type="submit" value="zapisz1" name="Oblicz">Zapisz</button>
                </center>
            </div>
        </div>
    </div>
}
@if (ViewBag.msg != null)
{
    <script type="text/javascript">

            window.onload = function () {
                $('#myModal').modal('show');
            };
    </script>
}

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Wystąpił Błąd!</h4>
            </div>
            <div class="modal-body">
                @Html.Raw(ViewBag.msg)

            </div>
            <div class="modal-footer">
                <script>ViewBag.msg = null;</script>
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>

    </div>

</div>